<div>
    ID: <b>@Model.Id</b><br />
    Tên lớp: <b>@Model.TenLop</b><br />
    Năm nhập học: <b>@Model.NamNhapHoc</b> <br>
    Năm ra trường: <b>@Model.NamRaTruong</b> <br>
    Số lượng: <b>@Model.NamNhapHoc</b> <br>
</div>