@model SanPham
<div>
    ID: <b>@Model.Id</b><br/>
    Tên: <b>@Model.Name</b><br />
    Mô tả: <b>@Model.Description</b><br />
    Giá tiền: <b>@Model.price</b><br />
    Hình ảnh: <b><img src="@Model.ImageUrl" width="50%" /></b><br />
    Thể loại: <b>@Model.TheLoaiId</b><br />
</div>
